[submodule "webhooks"]
	path = webhooks
	url = https://github.com/destairdenbi/webhooks.git
[submodule "guided_tours"]
	path = guided_tours
	url = https://github.com/destairdenbi/guided_tours.git
[submodule "workflows"]
	path = workflows
	url = https://github.com/destairdenbi/workflows.git
